[submodule "vendor/glad"]
	path = vendor/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb.git
	branch = master
